<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Weather Data</title>
    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/weather.css}" />
    <!--<link rel="stylesheet" type="text/css" href="weather.css">-->
    <link rel="stylesheet" type="text/css" href='https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/3.6.95/css/materialdesignicons.css'>

    <!--<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>-->
    <!--<script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js'></script>-->
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
</head>
<body>
<div class="container">
    <div class="row">
    <div class="col" th:each="darkSkyWeather,iterStat : ${weatherData}">
        <div class="page-content page-container" id="page-content">
            <div class="padding">
                <div class="row container d-flex justify-content-center">
                    <div class="col-lg-8 grid-margin stretch-card">
                        <!--weather card-->
                        <div class="card card-weather">
                            <div class="card-body">
                                <div class="weather-date-location">
                                    <h3><span th:text="${darkSkyWeather.getCurrently().getDatel()}"></span></h3>
                                    <h4>Hour : <span th:text="${darkSkyWeather.getCurrently().getHourofday()}"></span></h4>
                                    <p class="text-gray"><span th:text="${darkSkyWeather.getLocationName()}"></span></p>
                                </div>
                                <div class="weather-data d-flex">
                                    <div class="mr-auto">
                                        <h4 class="display-3"><span th:text="${darkSkyWeather.getCurrently().getTemperature()}"></span><span class="symbol">°</span>F</h4>
                                        <p><span th:text="${darkSkyWeather.getCurrently().getSummary()}"></span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body p-0">
                                <div class="d-flex weakly-weather">
                                    <div class="weakly-weather-item">
                                        <p class="mb-0"><span th:text="${darkSkyWeather.getHourlyData().getTemperature()}"></span></p> <i class="mdi mdi-weather-cloudy"></i>
                                        <p class="mb-0"> 30° </p>
                                    </div>
                                    <div class="weakly-weather-item">
                                        <p class="mb-1"> Mon </p> <i class="mdi mdi-weather-hail"></i>
                                        <p class="mb-0"> 31° </p>
                                    </div>
                                    <div class="weakly-weather-item">
                                        <p class="mb-1"> Tue </p> <i class="mdi mdi-weather-partlycloudy"></i>
                                        <p class="mb-0"> 28° </p>
                                    </div>
                                    <div class="weakly-weather-item">
                                        <p class="mb-1"> Wed </p> <i class="mdi mdi-weather-pouring"></i>
                                        <p class="mb-0"> 30° </p>
                                    </div>
                                    <div class="weakly-weather-item">
                                        <p class="mb-1"> Thu </p> <i class="mdi mdi-weather-pouring"></i>
                                        <p class="mb-0"> 29° </p>
                                    </div>
                                    <div class="weakly-weather-item">
                                        <p class="mb-1"> Fri </p> <i class="mdi mdi-weather-snowy-rainy"></i>
                                        <p class="mb-0"> 31° </p>
                                    </div>
                                    <div class="weakly-weather-item">
                                        <p class="mb-1"> Sat </p> <i class="mdi mdi-weather-snowy"></i>
                                        <p class="mb-0"> 32° </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--weather card ends-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="row" th:each="darkSkyWeather,iterStat : ${weatherData}">
        <div>
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Day</th>
                <th scope="col">Hour of Day</th>
                <th scope="col">Summary</th>
                <th scope="col">Temperature</th>
                <th scope="col">Humidity</th>
                <th scope="col">Pressure</th>
                <th scope="col">WindSpeed</th>
                <th scope="col">CloudCover</th>
                <th scope="col">Visibility</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="weather,iterStat : ${darkSkyWeather.getHourlyData()}" >
                <td><span th:text="${weather.getDates()}"></span></td>
                <td><span th:text="${weather.getHourofday()}"></span></td>
                <td><span th:text="${weather.getSummary()}"></span></td>
                <td><span th:text="${weather.getTemperature()}"></span></td>
                <td><span th:text="${weather.getHumidity()}"></span></td>
                <td><span th:text="${weather.getPressure()}"></span></td>
                <td><span th:text="${weather.getWindSpeed()}"></span></td>
                <td><span th:text="${weather.getCloudCover()}"></span></td>
                <td><span th:text="${weather.getVisibility()}"></span></td>
            </tr>
            </tbody>
        </table>
        </div>
    </div>
    <div class="row">
        <div class="row">
            <div class="timeline">
                <span>06'2010</span>
                <span>07'2011</span>
                <span>05'2012</span>
                <span>08'2013</span>
                <span>12'2013</span>
                <span>06'2014</span>
            </div>
        </div>
    </div>
</div>
</body>
</html>